{% assign profile = d.profile %}
{% if profile %}
<section class="section summary-section">
  {% include section-title.html icon="user" title=profile.title %}

  <div class="summary">
    {{ profile.summary | markdownify }}
  </div><!--//summary-->

  {% if profile.interests %}
  <div class="research-interests">
    {% if profile.interests_title %}<h3 class="interests-title">{{ profile.interests_title }}</h3>{% endif %}
    <ul class="tag-list">
      {% for interest in profile.interests %}<li>{{ interest }}</li>{% endfor %}
    </ul>
  </div>
  {% endif %}
</section><!--//section-->
{% endif %}
