{% assign projects = d.projects %}
{% if projects %}
<section class="section projects-section">
  {% include section-title.html icon="archive" title=projects.title %}

  {% if projects.intro %}
  <div class="intro">{{ projects.intro | markdownify }}</div>
  {% endif %}

  {% for project in projects.info %}
  <div class="item">
    <div class="upper-row">
      <span class="project-title">
        {% if project.link %}<a href="{{ project.link }}" target="_blank" rel="noopener">{{ project.title }}</a>{% else %}{{ project.title }}{% endif %}
      </span>
      {% if project.time %}<div class="time">{{ project.time }}</div>{% endif %}
    </div>
    {% if project.tagline %}<div class="project-tagline">{{ project.tagline }}</div>{% endif %}
    {% if project.details %}<div class="details">{{ project.details | markdownify }}</div>{% endif %}
    {% if project.tags %}
    <ul class="tag-list">
      {% for tag in project.tags %}<li>{{ tag }}</li>{% endfor %}
    </ul>
    {% endif %}
  </div><!--//item-->
  {% endfor %}
</section><!--//section-->
{% endif %}
